<h2>WELCOME </h2>

<ul>
<% @photos.each do |photo| %>
  <li><a href="/photos/<%= photo.id %>"><%= photo.name %></a></li>
  <li><%= photo.caption %></li>
<% end %>
</ul>
<br>


<a class="button" href="/">Home</a>
<a class="button" href="/photos">Photos</a>

