<html>
<head>
<title>Add a new photo</title>
</head>

<h1> Add a Photo</h1>
<form action="/photos" method="POST" enctype="multipart/form-data">

<input type="file" name="file"><br>

<input type="submit" value="Upload Photo">

</form>

</html>