<html>
<head>
<title>Welcome!</title>
</head>

<body>
<h1>Park Between the Lines Welcomes You</h1>
<nav>
  <% if logged_in? %>
  <p> Welcome,
  <%= current_user.username %></p>
  <a href="/images/new">Create A New Image</a><br>
  <a class="button" href="/images"> See All Your Images</a><br>
  <a href="/logout"> Log Out </a>

  <% else %>
  <h2> Please Sign up or Log In:</h2>
  <a href="/signup">Sign Up</a><br>
  <a href="/login">Log In</a>
  <% end %>
</nav>
</body>
</html>