<html>
<head>
<title>Edit this image</title>
</head>

<h1> Edit</h1>
<form action="/images/<%= @image.id %>" method="POST" enctype="multipart/form-data">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
<label for="caption">Description:</label><br>
<textarea id="caption" name="caption" value=<%= @image.caption %>></textarea>

<!--<input type="file" name="file"><br><br>-->
<input type="submit" value="Update Image">

</form>

</html>