<h2>WELCOME <%= current_user.username %></h2>

<h3>All Posts:</h3>

<ul>
<% @images.each do |image| %>
  <li><a href="/images/<%= image.id %>"><%= image.caption %></a></li>
<% end %>
</ul>
<br>


<a class="button" href="/">Home</a>
<a class="button" href="/photos">Images</a>

